<tr>
	<td><a href="/tt/<%= finishedtask.PROGRAM %>"><%= finishedtask.TRANSNAME %></a></td>
	<td><%= finishedtask.EXECTIME %></td>
	<td><%= finishedtask.MAXWORKERS %></td>
	<td><%= finishedtask.FINISHTIME %></td>
	<td><%= finishedtask.FINISHEDTASKS %></td>
</tr>
