<!DOCTYPE html>
<div class="page-header">
	<h1><%= title %></h1>
</div>
<div class="row">
<div class="col-lg-12">
	<table class="table" style="font-size:18px">
		<thead>
			<tr>
				<th>运行时间</th>
				<% if (graphtype === 'running') { %>
				<th>轻量级线程数</th>
				<% } else { %>
				<th>最大轻量级线程数</th>
				<% } %>
				<th>完成子任务数</th>
				<th>每秒完成子任务数</th>
				<th>轻量级线程切换数</th>
				<th>每秒轻量级线程切换数</th>
			</tr>
		</thead>				
		<tbody>
			<tr>
				<td><%= exectime[exectime.length-1] %></td>
				<% if (graphtype === 'running') { %>
				<td><%= workers[workers.length-1] %></td>
				<% } else { %>
				<td><%= maxWorkers %></td>
				<% } %>
				<td><%= tasks[tasks.length-1] %></td>
				<td><%= (tasks[tasks.length-1]/exectime[exectime.length-1]).toFixed(2) %></td>
				<td><%= switches[switches.length-1] %></td>
				<td><%= (switches[switches.length-1]/exectime[exectime.length-1]).toFixed(2) %></td>
			</tr>
		</tbody>
	</table>
</div>
</div>

<div class="row">
<div class="col-lg-12">
<div id="main" style="height:600px;border:1px solid #ccc;padding:10px;"></div>
</div>
</div>
<script src="/javascripts/echarts-plain.js"></script>
<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('main'));
	myChart.setOption({
		tooltip : {
			trigger: 'axis'
		},
		legend : {
			data: ['轻量级线程数', '完成子任务数', '线程切换数']
		},
		toolbox : {
			show: true,
			feature : {
				dataView : {show: true, readOnly: false},
				magicType : {show: true, type: ['line', 'bar']},
				restore : {show: true},
				saveAsImage : {show: true}
			}
		},
		calculable : true,
		xAxis : [
			{
				type : 'category',
				data : [<%= exectime %>]
			}
		],
		yAxis : [
			{
				type : 'value',
				name : '轻量级线程数',
				splitArea : {show: true}
			},
			{
				type : 'value',
				name : '子任务相关',
				splitArea : {show: true}
			}
		],
		series : [
			{
				name : '轻量级线程数',
				type : 'bar',
				data : [<%= workers %>]
			},
			{
				name : '完成子任务数',
				type : 'line',
				yAxisIndex : 1,
				data : [<%= tasks %>]
			},
			{
				name : '线程切换数',
				type : 'line',
				yAxisIndex : 1,
				data : [<%= switches %>]
			}
		]
	});
</script>
<% if (graphtype === 'running') { %>
<script type="text/javascript">
	function mRefresh() {
		window.location.reload();
	}
	setTimeout('mRefresh()', 3000);
</script>
<% } %>
